/* nav.css */
#nav-links {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}
body {
    padding-top: 60px; 
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    align-items: center;
    list-style-type: none;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(217, 223, 223);
    z-index: 1000;
    padding: 5px 0;
    
}
li a {
    display: block;
    color: rgb(46, 41, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #b3b2b2;
  }

#header-nav-container {
    display: flex;
    gap: 0.5rem;
    

}
.create-post-button{
    margin-left: 1400px;
    flex-wrap: wrap;
}